apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../bases/clusters/ocp/provisioning

patches:
  - target:
      kind: ApplicationSet
      name: CLUSTER_NAME-provisioning
    patch: |-
      - op: replace
        path: /metadata/name
        value: ocp-456-provisioning
      - op: replace
        path: /spec/generators/0/list/elements/0/path
        value: clusters/ocp-456/cluster
      - op: replace
        path: /spec/template/metadata/name
        value: ocp-456-{{component}}
      - op: replace
        path: /spec/template/metadata/labels/cluster
        value: ocp-456
  - target:
      kind: ApplicationSet
      name: CLUSTER_NAME-content
    patch: |-
      - op: replace
        path: /metadata/name
        value: ocp-456-content
      - op: replace
        path: /spec/generators/0/list/elements/0/path
        value: clusters/ocp-456/operators
      - op: replace
        path: /spec/generators/0/list/elements/0/destination
        value: https://api.ocp-456.bootstrap.red-chesterfield.com:6443
      - op: replace
        path: /spec/generators/0/list/elements/1/path
        value: clusters/ocp-456/pipelines
      - op: replace
        path: /spec/generators/0/list/elements/1/destination
        value: https://api.ocp-456.bootstrap.red-chesterfield.com:6443
      - op: replace
        path: /spec/generators/0/list/elements/2/path
        value: clusters/ocp-456/deployments
      - op: replace
        path: /spec/generators/0/list/elements/2/destination
        value: https://api.ocp-456.bootstrap.red-chesterfield.com:6443
      - op: replace
        path: /spec/template/metadata/name
        value: ocp-456-{{component}}
      - op: replace
        path: /spec/template/metadata/labels/cluster
        value: ocp-456
