apiVersion: tekton.dev/v1
kind: TaskRun
metadata:
  generateName: provision-rosa-hcp-cluster-
spec:
  taskRef:
    kind: Task
    name: provision-rosa-hcp
  params:
  - name: aws-secret
    value: <SECRET_CONTAINING_AWS_KEYS>
  - name: rosa-token-secret
    value: <SECRET_CONTAINING_ROSA_TOKEN>
  - name: ocp-version
    value: <OCP_X_Y_Z>
  - name: cluster-name
    value: <CLUSTER_NAME>
  - name: region
    value: us-east-1
  - name: subnet-ids
    value: <PUBLIC_SUBNET_ID,PRIVATE_SUBNET_ID>
  - name: oidc-config-id
    value: <OIDC_CONFIG_ID>
  - name: billing-account
    value: <BILLING_ACCOUNT>