apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ocm-ocp-01-cdoan-01

commonAnnotations:
  cluster: ocp-01-cdoan-01
  cluster-type: ocp
  version: "v0.0.1"

resources:
  - cloud-infrastructure-provisioning.pipelinerun.yaml

components:
  - ../../../bases/pipelines/cloud-infrastructure-provisioning
